*.bin
*.exe
*.dll
*.pdb
*.json
*.cache
*.props
obj/TrabalhoN1.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/ProjetoAED2.AssemblyInfo.cs
obj/Debug/net6.0/ProjetoAED2.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ProjetoAED2.GlobalUsings.g.cs
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/TrabalhoN1.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/TrabalhoN1.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/TrabalhoN1.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/TrabalhoN1.csproj.nuget.dgspec.json
obj/TrabalhoN1.csproj.nuget.g.props
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/TrabalhoN1.assets.cache
obj/Debug/netcoreapp3.1/TrabalhoN1.dll
obj/Debug/netcoreapp3.1/TrabalhoN1.pdb
